@use "utilities/functions" as *;

.vote {
  &__btn {
    width: rem(40px);
    height: rem(40px);
   
  }
}

.CRUD-container {
  width: max-content;
}

.btn {
  width: rem(104px);
  height: rem(48px);

  border-radius: .5rem;
}

.new-comment {
  &__send {
    margin-left: auto;
  }
}
