@use "utilities/functions" as *;

.vote{
    &__btn{
        width: rem(40px);
        height: rem(40px);
    }
}

.CRUD-container{
    width: max-content;
}

.new-comment{
    &__send{
        border: solid;
        height: 4rem;
    }
}