@use "utilities/functions" as *;

.vote{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    &__btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @media (min-width: 600px) {
        flex-direction: column;
      }
}

main{
    display: flex;
    flex-direction: column;
    gap: clamp(rem(16px), vw(16px), rem(24px));

}

#comment-wrapper{
    display: flex;
    flex-direction: column;
    gap: clamp(rem(16px), vw(16px), rem(24px));
}

.username--you {
    display: flex;
    flex-direction: row;
    gap: .25rem;
}

.CRUD-container{
    display: flex;
    flex-direction: row;
    gap: .75rem;
}

.CRUD{
    display: flex;
    gap: .25rem;
}