@use "utilities/functions" as *;

.vote{
    width: max-content;
    border-radius: .75rem;
    @media (min-width: 600px) {
        margin-right: 1rem;
      }
}

.new-comment{
    padding: clamp(rem(16px), vw(16px), rem(24px));
    &--reply{
        display: none;
    }
    &--update{
        display: none;
    }
}