@use "utilities/functions" as *;
@use "utilities/variables" as *;

$ruler-column-size: clamp(rem(16px), vw(16px), rem(42px));

.reply-wrapper {
  display: grid;
  row-gap: clamp(rem(16px), vw(16px), rem(24px));
  column-gap: $ruler-column-size;
  grid-template-rows: repeat(2, auto);
  @media (min-width: $ruler-break) {
    grid-template-columns: $ruler-column-size auto;
    }

  &__ruler {
    grid-column: 1/2;
    grid-row: 1/ -1;
  }
  .comment--reply {
    grid-column: 2/3;
  }
}
