@use "utilities/functions" as *;

.modal{
    display: none;
    z-index: 1;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.modal-content{
    background-color: var(--color-white);

    border-radius: .5rem;
    padding: clamp(rem(26px), vw(26px), rem(32px));
    width: clamp(rem(293px), vw(293px), rem(360px));
height: clamp(rem(173px), vw(173px),rem(186px));
}