body{
    background-color: var(--color-very-light-gray);
}

.vote{
    background-color: var(--color-very-light-gray);
}

.new-comment{
    background-color: var(--color-white);
}

.comment{
    background-color: var(--color-white);
}

