body {
  background-color: var(--color-very-light-gray);
}

.vote {
  background-color: var(--color-very-light-gray);
  &__btn {
    &--upvote:hover {
      & .vote__img--plus {
        filter: hue-rotate(238deg) saturate(40%) brightness(52%);
      }
    }
    &--downvote:hover {
      & .vote__img--minus {
        filter: hue-rotate(238deg) saturate(40%) brightness(52%);
      }
    }
  }
  &__score {
    color: var(--color-moderate-blue);
  }
}

.new-comment {
  background-color: var(--color-white);
}

.comment {
  background-color: var(--color-white);
&__replyingTo{
color:var(--color-moderate-blue);
}
}

.CRUD {
  &__text {
    &--reply {
      color: var(--color-moderate-blue);
    }
    &--delete {
      color: var(--color-soft-red);
    }
    &--edit {
      color: var(--color-moderate-blue);
    }
  }
  &--reply:hover {
    & > .CRUD__text--reply {
      color: var(--color-very-light-gray);
    }
    & > .CRUD__icon--reply {
      filter: hue-rotate(228deg) saturate(33%) brightness(97%);
    }
  }
  &--edit:hover {
    & > .CRUD__text--edit {
      color: var(--color-very-light-gray);
    }
    & > .CRUD__icon--edit {
      filter: hue-rotate(228deg) saturate(33%) brightness(97%);
    }
  }
  &--delete:hover {
    & > .CRUD__text--delete {
      color: var(--color-pale-red);
    }
    & > .CRUD__icon--delete {
      filter: hue-rotate(357deg) saturate(100%) brightness(86%);
    }
  }
}

.new-comment {
    &__input{
      border-color: var(--color-very-light-gray);
      &:focus{
        border-color: var(--color-moderate-blue);
    }
    }
  &__send {
    color: var(--color-white);
    background-color: var(--color-moderate-blue);
    &:hover {
      background-color: var(--color-light-grayish-blue);
    }
  }
}

.username{
  &__you{
    background-color: var(--color-moderate-blue);
    color: var(--color-white);
  }
}

.reply-wrapper__ruler{
  border-color: var(--color-light-gray);
}

.modal{
  &__paragraph{
    color: var(--color-grayish-blue);
  }
  &__btn-box{
    &--delete{
      color: var(--color-white);
      background-color: var(--color-soft-red);
    }
    &--cancel{
      color: var(--color-white);
      background-color: var(--color-grayish-blue);
    }
  }
}